<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your shops
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class = "ion-text-center">
    <h10>Left swipe on your shop to view options.</h10>
  </p>

  <ion-list>
      
      
    <!-- Shops added by the user and their specificities -->

    <!-- Shop 1 -->
    <ion-item-sliding id="item100">
      <ion-item href="#">
        <ion-label>
          <h2><b>In Coffee We Trust</b></h2>
          <p>Not your classic coffee shop ! </p>
          <p>ICWT also offers a large selection of coffee making supplies for a caffeinated lifestyle.</p>
          
        </ion-label>
        
        <ion-icon name="cafe" slot = "end"></ion-icon>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-chip>
        <ion-icon name="ice-cream" color = "warning"></ion-icon>
        <ion-label color = "warning">Groceries</ion-label>
      </ion-chip>
      
      <ion-chip>
        <ion-icon name="leaf" color="success"></ion-icon>
        <ion-label color = "success">Lifestyle</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="location" color="danger"></ion-icon>
        <ion-label color = "danger">Annecy - Epagny</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="location" color="danger"></ion-icon>
        <ion-label color = "danger">Annemasse</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="location" color="danger"></ion-icon>
        <ion-label color = "danger">Rumilly</ion-label>
      </ion-chip>
      
    </ion-item-sliding>

    <!-- Shop 2 -->
    <ion-item-sliding id="item100">
      <ion-item href="#">
        <ion-label>
          <h2><b>PolyDress</b></h2>
          <p>Dress just like a Polytech student ! </p>
          <p>Clothing and accessories collections inspired by the students of an engineering school.</p>
        </ion-label>
        
        <ion-icon name="shirt" slot = "end"></ion-icon>
      </ion-item>
  
      
  
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-chip>
        <ion-icon name="shirt" color = "primary"></ion-icon>
        <ion-label color = "primary">Fashion</ion-label>
      </ion-chip>
      
      <ion-chip>
        <ion-icon name="bag" color="medium"></ion-icon>
        <ion-label color = "medium">Bags & Luggage</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="diamond" color="tertiary"></ion-icon>
        <ion-label color = "tertiary">Accessories</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="location" color="danger"></ion-icon>
        <ion-label color = "danger">Sévrier</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="location" color="danger"></ion-icon>
        <ion-label color = "danger">Annecy - Seynod</ion-label>
      </ion-chip>

      <ion-chip>
        <ion-icon name="location" color="danger"></ion-icon>
        <ion-label color = "danger">Cluses</ion-label>
      </ion-chip>
      
    </ion-item-sliding>
  
  </ion-list>
  
</ion-content>
